.button{
    background-color: rgb(72, 182, 255);
    color: white;
    border-radius: 3.5px;
    padding: 5px;
    width: 55px;
    height: 30px;
    margin-left: 5px;
  }
  
  .input-field{
    margin-top: 10px;
    border-radius: 3.5px;
    padding: 5px;
  }
  
  .todo-Item-Line{
    width: 50%;
    padding: 5px;
    border: 1.5px solid black;
    margin: auto;
    margin-top: 10px;
    word-break: break-all;
  }

  .todo-Item-Content { font-family: 'Inder', sans-serif; 
    font-size: 25px; 
    color: #666;
    text-align: left; 
}

  .done{
      text-decoration:line-through;
  }

  .delete-Button{
    float: right;
    border-radius: 6px;
  }

  .background {
    background-image: url("../style/background/background.jpg");
  }